.title {
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.generate {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 10px;
}

.guess{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 10px;
}

.generateBox{
    display: flex;
    justify-content:baseline;
    margin-bottom: 20px;
}

.guessBox{
    display: flex;
    justify-content:baseline;
    margin-bottom: 7px;
}

.resultBox{
    display: flex;
    justify-content:baseline;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 7px;
}

.outcomeBox{
    display: flex;
    justify-content:baseline;
    margin-bottom: 7px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-bottom: 7px;
}

.hidden{
    display: none;
}